@using Eticaret2.Entities
@model Eticaret2.Models.OrderDetailsModel

@{
    ViewBag.Title = "Details";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-11">
                    <h2>Sipariş Detay Bilgileri</h2>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-danger mr-1"><i class="fa-solid fa-trash-can"></i> İade Et</button>
                </div>
            </div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.Waiting)
                    {
                        <span style="color:darkorange;font-weight:bold;">@Model.OrderState</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Completed)
                    {
                        <span style="color:green;font-weight:bold;font-style:italic">@Model.OrderState</span>
                    }
                </dd>
                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>
                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">@Model.Total.ToString("c")</dd>
                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate.ToShortDateString()</dd>
                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir @Model.Semt @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>
                <dt class="col-sm-3">Products</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td>
                                        <img src="~/upload/@item.Image" width="70" />
                                    </td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price.ToString("c")</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    @using (Html.BeginForm("Details", "Home", new { id = item.ProductId }))
                                                    {
                                                        <button type = "submit" class="btn btn-primary ml-2 mr-2">
                                                            <i class="fa-solid fa-circle-info"></i> Sipariş Detayları
                                                        </button>
                                                    }
                                                    @*@using (Html.BeginForm("Return", "Account"))
                                                        {
                                                            @Html.HiddenFor(i => Model.OrderId)
                                                            <button type="submit" class="btn btn-danger ml-1 mr-1">
                                                                <i class="fa-solid fa-trash-can"></i>İade Et
                                                            </button>
                                                        }*@
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>

