@model IEnumerable<Eticaret2.Entities.Cart>
@{
    ViewBag.Title = "Index";
}

<div class="container pb-5">

    <div class="row">
        <div class="col-md-12">
            <h2>Alışveriş Sepeti</h2>
            <hr />

            @if (true)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/upload/@item.CartLine2.Product.Image" width="50" />
                                </td>
                                <td>@item.CartLine2.Quantity</td>
                                <td>@item.CartLine2.Product.Name</td>
                                <td>@item.CartLine2.Product.Price.ToString("c")</td>
                                <td>@((item.CartLine2.Product.Price * item.CartLine2.Quantity).ToString("c"))</td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                    {
                                        @Html.Hidden("Id", item.CartLine2)
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td>
                                @(Model.Sum(i => i.CartLine2.Product.Price * i.CartLine2.Quantity))
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text text-center">
                    <a href="/Home/Index" class="btn btn-primary">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Alışverişe Devam Et
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-success">
                        <i class="fa-solid fa-money-bill-wave"></i>
                        Alışverişi Tamamla
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Sepetinizde ürün bulunmamaktadır
                </div>
            }

        </div>
    </div>
</div>